* text=auto !eol
/Makefile -text
/apertium-eu-hu.eu-hu.dix -text
/apertium-eu-hu.eu.lexc -text
/apertium-eu-hu.eu.relabel -text
/apertium-eu-hu.eu.twol -text
/apertium-eu-hu.hu-eu.rlx -text
/apertium-eu-hu.hu.lexc -text
/apertium-eu-hu.hu.relabel -text
/apertium-eu-hu.hu.twol -text
dev/test_grammar.cg -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
